<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EchoVR_Session_Grabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EchoVR_Session_Grabber.Properties.Settings>
            <setting name="autoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showDatabaseLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logToServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startOnBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="targetDeltaTimeIndexStats" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="batchWrites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveFolder" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="enableFullLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableStatsLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="targetDeltaTimeIndexFull" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="showConsoleOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="outputGameStateEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputScoreEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputStunEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputDiscThrownEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputDiscCaughtEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputDiscStolenEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputSaveEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="echoVRPath" serializeAs="String">
                <value />
            </setting>
            <setting name="accessCode" serializeAs="String">
                <value />
            </setting>
            <setting name="outputOther" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="whenToUploadLogs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="uploadToFirestore" serializeAs="String">
                <value>True</value>
            </setting>
        </EchoVR_Session_Grabber.Properties.Settings>
    </userSettings>
  <runtime>
  </runtime>
</configuration>